<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= favicon_tag 'images/ball.jpeg' %>
    <link href="https://fonts.googleapis.com/css?family=Alegreya:400,400i,700|Roboto+Mono:300,400,500" rel="stylesheet">
    <%= stylesheet_link_tag "../../LivIconsEvo/css/LivIconsEvo.css" %>
    <!-- <link href="LivIconsEvo/css/LivIconsEvo.css" rel="stylesheet"> -->
  </head>
  <body>
    <!-- NAVBAR -->
    <%= partial "../source/components/navbar.html.erb" %>
    <%= yield %>
    <%= partial "../source/components/footer.html.erb" %>
  <!--   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script> -->
    <!-- LivIcons animation js -->
    <script src="../../LivIconsEvo/js/LivIconsEvo.Tools.js"></script>
    <script src="../../LivIconsEvo/js/LivIconsEvo.defaults.js"></script>
    <script src="../../LivIconsEvo/js/LivIconsEvo.min.js"></script>
  </body>
</html>
